.floating {
  position: fixed;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 40px;
}

.sized {
  height: 70px;
  width: 70px;
  margin: 20px;
  padding: 5px;
  border-radius: 50%;
  font-size: 32px;
}

.accent {
  background-color: rgb(52, 48, 140);
}

.danger {
  background-color: rgb(145, 10, 10);
}
